body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: radial-gradient(circle at 0% 0%, #c5b438 0, #cfad33 5.56%, #d7a42e 11.11%, #df9b2b 16.67%, #e6902a 22.22%, #eb832b 27.78%, #ef762e 33.33%, #f16631 38.89%, #f35336 44.44%, #f23c3c 50%, #f01943 55.56%, #ed004c 61.11%, #e90056 66.67%, #e40062 72.22%, #dc006f 77.78%, #d3007d 83.33%, #c7008c 88.89%, #b9009c 94.44%, #a800ac 100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    background:  radial-gradient(circle at 59.81% 47.37%, #f30f0f 0, #f30f0f 50%, #f30f0f 100%);
    padding: 10px;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: black;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cancel {
    background-color: black;
    margin-left: 10px;
}

button:hover,
.cancel:hover {
    background-color: #45a049;
}


